
#play-button {
    background-color: #FDFDF0;
    color: #545454;
    border-radius: 10%;
    font-family: "Karla";
    width: 100px;
    font-size: 14pt;
    cursor: pointer;
    

}

#play-button:hover {
    background-color: #F6F9ED;
    /* animation-name: shake;
    animation-duration: 1s */
}

#reset-button:hover {
    background-color: #F6F9ED;
    /* animation-name: shake;
    animation-duration: 1s */
}

#reset-button {
    background-color: #FDFDF0;
    color: #545454;
    border-radius: 10%;
    font-family: "Karla";
    width: 100px;
    font-size: 14pt;
    cursor: pointer;
}

#continent-select {
    width: 100px;
    text-align: center;
    font-family: "Karla";
    cursor: pointer;
}

.rangeslider {
    font-family: "Karla";
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #545454;
}

#sliderRange{
    cursor: grab;
}