.main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    height: 50px; 
    font-family: "Karla";
    font-size: 20pt;
    background-color:  #FDFDF0;
    color: #545454

}