.main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.app-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid black; */
    height: 50px; 
    font-family: "Karla";
    font-size: 20pt;
    background-color:  #FDFDF0;
    color: #545454;
    margin-bottom: 5px;

}

.title {
    margin-left: 40px;
    margin-right: 20px;
}

#link {
   color: #545454;
   margin: 5px; 
}