.d3-tip{
    border: 2px solid #F6F9ED;
    border-radius: 2%;
    padding: 10px;
    font-family: "Karla";
    font-size: 12pt;
    background-color: #F6F9ED;
    color: #545454;
    cursor: pointer;
}

.d3-tip > span {
    padding: 5px;
}